In [ ]:
#In this project ,i'll start by cleaning sales data from a local company
#After cleaning the data, i'll proceed to the next stage (analysis and visualization)

In [13]:
#Fetching the CSV files in my computer using python programming and it's modules
import os
import pandas as pd
#path to the files location

path='C:/Users/kelvin/Desktop/data_cleaning/uncleaned_data' 

#fetching the files  and merging them


#Bellow is a list of all the files/ monthly data files
files=[file for file in os.listdir(path)]
#This are the files to be merged
for file in files:
     print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [15]:
#since each file contains monthly sales data . we have to merge all files to come up with a single file with annual sales data

#lets store the merged files in the bellow file
combined_data=pd.DataFrame()

#Lets now loop through the files list ,read each file and concatinate it with the combined_data

for file in files:
    df=pd.read_csv(path+"/"+file)
    combined_data=pd.concat([df,combined_data])
    
    #Lets save the merged file  as "merged sales data.csv"
    combined_data.to_csv('merged sales data.csv',index=False)

In [33]:
#Now lets see the merged file with all months data
data=pd.read_csv('C:/Users/kelvin/Desktop/data_cleaning/merged sales data.csv')
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
186846,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
186847,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
186848,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
186849,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"